$black: #222B3A;
$orange: #FC890D;
$blue: #296DCE;
$white: #FFFFFF;
$gray:#F3F3F3;
$gray2:#979FAD;
$background_gray:#FAFAFA;
$border_gray:#F3F3F3;
$color_number:#E1E1E1;
$font_blue:#1092CB;
$brown:#696969; 
$footer_blue:#0099DD;
$footer_black:#222B3A;
$line_gray:#F1F1F1;
$dark_orange:#FFA43F;
$background_gray_botton: #DFDADA;
$dark_gray:#696969;
$link_orange:#FF8A00;
$take_note_border:#EAEAEA;
$main_blue_bg:#56c3e0;